{% extends 'base.html' %}
{% block content %}
    <div class="home-content">
        <h1>Welcome to MyDjangoApp</h1>
        <p>This is the home page of our app.</p>
    </div>
    {% for product in products %}
        <div>
            <img src={{product.image}} alt='product image'>
            <p>
                <strong>{{product.name}}</strong>
                <strong>{{product.price}}$</strong>
            </p>
            <p>
                <strong>{{product.description}}</strong>
            </p>

        <div>
    {%endfor%}
{%endblock%}