{% extends 'base.html' %}

{% block title %}Checkout{% endblock %}

{% load static %}
{% load custom_filters %}

{% block content %}
<div class="container text-center mt-5">
    <div class="alert alert-danger" role="alert">
        <h1 class="display-4">Oops!</h1>
        <p class="lead">Something went wrong. Please try again later.</p>
        <hr>
        <p>If you believe this is an error, please <a href="/contact" class="alert-link">contact support</a>.</p>
        <a href="/" class="btn btn-primary mt-3">Go to Homepage</a>
    </div>
{% endblock %}
