{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <!-- Main Heading -->
    <div class="text-center mb-5">
        <h1 class="display-4">My App Gallery</h1>
    </div>

    <!-- Products Section -->
    <div class="products-wrapper">
        {% for product in products %}
            {% if product.active %}
            <div class="product-card card shadow-sm">
                <img class="card-img-top" src="{{ product.image.url }}" alt="product image" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title text-primary">{{ product.name }}</h5>
                    <p class="card-text"><strong>Price: </strong>{{ product.price }} EGP</p>
                    <p class="card-text"><strong>Description: </strong>{{ product.description }}</p>
                </div>
                <form action="{% url 'AddtoCart' product.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-primary">Add to Cart</button>
                </form>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
