<header>
    <nav class="navbar">
        <div class="logo">ShopLogo</div>
        <ul>
          <li><a href="{% url 'Home' %}">Home</a></li>
          <li><a href="{% url 'Shop' %}">Shop</a></li>
          <li><a href="{% url 'Orders' %}">Orders</a></li>
          {% if request.user.is_authenticated and request.user.is_staff %}
          <!-- Only show this link if the user is logged in and is an admin -->
          <li><a href="{% url 'view_messages' %}">Messages</a></li>
          {% endif %}
          <li><a href="{% url 'Contact' %}">Contact</a></li>
          {% if user.is_authenticated %} 
          <li><a href="{% url 'profile' %}">Profile</a></li>
          <div class="cart"><a href="{% url 'Cart' %}">🛒</a></div>
          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
        <div class="menu-icon">☰</div>
    </nav>
</header>
