{% extends 'base.html' %}

{% block title %}About Django{% endblock %}

{% load static %}

{% block content %}
<form class="forgot-password-form" method="POST">
    {% csrf_token %}
    <h2>Reset Your Password</h2>
    <p>Please enter your email address below and we'll send you a link to reset your password.</p>
    <div class="input-field">
        <input type="email" id="email" placeholder="Email Address" required>
    </div>
    <button type="submit" class="btn">Send Reset Link</button>
    <p>Remember your password? <a href="/login">Login</a></p>
</form>
{% endblock %}
