{% extends 'base.html' %}

{% block title %}Password Reset{% endblock %}

{% load static %}

{% block content %}
    <div class="forget-password-container">
        <form class="forgot-password-form" method="post">
            {% csrf_token %}
            
            <div class="text-center mb-5">
                <h2>Password Reset</h2>
            </div>
            
            <!-- Render form fields manually -->
            <div class="form-group">
                <div class="input-field">
                    <input type="text" name="email" placeholder="Email Address/Username" class="form-control" required>
                </div>
                {% if form.email.errors %}
                    <div class="text-danger">
                        {% for error in form.email.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            
            <button type="submit" class="btn btn-primary">Send Reset Email</button>
        </form>
    </div>
{% endblock %}
